body {
  background-color: beige;
}

.blog-post-card {
  background-color: white;
  border-radius: 3px;
  width: 300px;
  text-align: left;
}

.post-img {
  border-bottom: solid cyan;
  width: 100%
}

.post-content {
  padding: 3px;
}

.post-title, .post-excerpt {
  color: indigo;
  margin: 10px;
}

.read-more {
  color: darkblue;
  background-color: lime;
  margin: 5px;
  padding: 2px;
  border-radius: 1px;
  display: inline-block;
}

.read-more:hover {
  background-color: cyan;
}
